body{
    background-color: #1B2026;
    font-family:'Finlandica', sans-serif;
}



/* style navbar */
.navbar-toggler-icon{
    background-color: #1B2026!important;
}
.navbar-toggler-icon{
    border-color:#F1B350;
}
/* Déplace le logo à gauche de la navbar */
.navbar img {
    margin-right: auto;
}

/* Déplace le menu hamburger à droite de la navbar */
.navbar-toggler {
    margin-left: auto;
}
.nav{
    width:100%;
}
navbar-toggler{
    border:none;
}
/* retire le style des liens, attribut une autre couleur */
a{
    text-decoration: none;
    color: #F1B350;
}

label{
    color:#F1B350;
}
h3{
    color:#F1B350;
}





/* présentation */
/* mise à la verticale du titre de présentation */
.textVertical{
    font-size: 50px;
    color:#F1B350;
    writing-mode: vertical-rl;
    text-orientation:unset;
    transform: rotate(-180deg);
    margin-left: 0px;
    margin-top:30px;
    margin-bottom: 30px;
}
.emilien{ 
    display:flex;
    color: white;
    margin-top: 30px;
}
.textDescription{
    margin-top: 30px;
    color: white;
}
.cote{
    font-family: 'Satisfy', cursive;
    font-size: 25px ;
    color: white;
}




/* style bouttons */
.requestEstimate, .cocktailPage, .btnSingIn{
    background-color: #F1B350;
    border-color: #F1B350;
    border-radius: 3px;
    height:50px;
    margin-top: 100px !important;
    margin-bottom: 100px;
    justify-content: center;
    display: block;
    margin:auto;
}
/* Retirer l'effet "hover" du bouton */
.btn, .btn:hover {
    background-color: #F1B350; 
    border-color: #F1B350;
    color: black; 
}






/* style cards cocktail */
.cardCocktail{
    margin-top: 100px;
    color: white;
}
.card-img-top{
    border-radius: 3px;
}
.card{
    background-color:#E4DCCF;
}
#cocktailBackground{
    position: absolute;
    left: 50%;
    transform:translateX(-57%);
    opacity: 0.2;

}

span{
    color:red;
}

/* carrousel */
.carousel{
    margin-top: 30px;
}






/* formulaire de contact */
.contactForm{
    margin-top: 60px;
    color: white;
}

.titleContact, .linkSignUp{
    color: #F1B350;
}

input{
    border-color: #F1B350 !important;
    color: #F1B350!important;
    background-color: #1B2026 !important;
    border-radius:3px;
}

.contactDetails{
    color: white;
    margin-top: 60px; 
}
.contact{
    color:#F1B350;
    display:flex;
    justify-content: center;
}
.owner, .phoneNumber, .mailContact{
    color:white;
    font-size: large;
    display:flex;
    justify-content: center;
}
.message{
    border-color: #F1B350;
    background-color: #1B2026;
    color: white;
    border-radius: 3px;
    height:200px;
}

.rgpdValidation{
    margin-top:2%;
    margin-bottom: 2%;
}
.submitForm, .signOut{
    margin-top: 30px;
    border-radius: 3px;
    border-color: #F1B350;
    background-color: #F1B350;
    color: #1B2026;
    height:50px;
}




/* style bulles partenaires */
.imgPartner{
border-color: #F1B350;
border-radius: 100%;
margin-bottom: 30px;
margin-left: 30px;
}
.partnerTitle{
    color: #F1B350;
    margin-top: 60px;
    margin-bottom: 60px;
}




/* style divers */
h1{
    color: #F1B350;  
}
.input-group-text{
    background-color: #F1B350;
    border-color: #F1B350;
}
.form-select-lg{
    background-color: #1B2026;
    color:grey;
    border-color: #F1B350;
}


/* style connexion-inscription-userspace */
.connectTitle{
    color: #F1B350; 
}
.personalInfo{
    margin-top: 20px;
}
.linkSignUp{

    color: #F1B350;
}




/* style mentions légales */
.legal{
    color: #F1B350;
}
.legalText{
    color: white;
}

/* style page 404 */
.trad404{
    color:#F1B350;
}



/* style footer */

footer{
    text-decoration: none;
    color: #F1B350; 
}



/* style dashboard */
.dashboardTitle{
    color:#F1B350;
}